/* CSS for SITE_NAME */

* { margin: 0; padding: 0; border: 0; }

body {
  text-align: center;
  font: 62.5% "Helvetica", Arial, sans-serif; /* 62.5% resets 1em to the equivalent of 10px */
  background: url('/images/bg-body.gif');
}
/* Global Styles */

a, a:link { }
a:hover { }
img {max-width:100%; border: 2px solid #ccc;}
h1 {
	color: #000;
	font-size: 6em;
	border-top:1px solid #000;
}
h2 {
	color: #000;
	font-size: 4em;
	border-top:1px solid #000;
}
h3 {
	color: #333;
	font-size: 2em;
	font-weight:bold;
	margin:30px 0 20px 0;
}
h1, h2, h3 {clear:both;}
.above-h {font-size:2em; text-transform:uppercase;}
table { border-collapse: collapse; border-spacing: 0; }
table td { vertical-align: top; padding: 5px; }

object, embed { border: 0; outline: 0; }

fieldset { border: 1px solid #666666; padding: 10px; }
legend { color: #666666; font-weight: bold; }
input, select, option, textarea { padding: 2px; }

ul, ol { margin: 10px 0 10px 35px; font-size:1.6em; line-height:1.6em; }
li { margin: 0 0 5px 0; }

p { padding: 0 0 11px 0; font-size:1.6em; line-height:1.6em; }

hr { height: 1px; margin: 0 0 15px 0; border: 0; border-bottom: 1px solid #000000; }

.l, .left { float: left; }
.r, .right { float: right; }
.clear { clear: both; }
.center {text-align:center; width:100%;/* background:#111; color:#fff;*/ margin:20px 0; min-width:200px;}

.b, .bold { font-weight: bold; }
.no-b { font-weight: normal; border:none; }
.u, .underline { text-decoration: underline; }
.no-u { text-decoration: none; }
.i, .italic { font-style: italic; }
.no-i { font-style: normal; }
.small { font-size: .79em; }
.large { font-size: 1.2em; }
.x-large { font-size: 1.4em; }
.x-x-large { font-size: 1.6em; }
.t-c, .text-center, .center { text-align: center; }
.t-r, .text-right, .right { text-align: right; }
.t-l, .text-left, .left { text-align: left; }

.serif { font-family: Palatino Linotype, Palatino, Georgia, TimesBook Antiqua, serif; }
.no-serif, .san-serif { font-family: Arial, Helvetica, sans-serif; }

img {}
img.l, img.left { margin: 0 10px 10px 0; }
img.r, img.right { margin: 0 0 10px 10px; }


/* Error Styling */

.email_confirm, .hide, .hideme { display: none; }
#form_error { font-weight: bold; color: #ed1c24; }

input.error { border: 1px solid #ed1c24; background: #FFEFEF; }
label.error { 
  display: block; 
  clear: none; 
  margin: 0; 
  padding: 5px 0 0 0; 
  width: 100%; 
  color: #ed1c24;
}


/* Site Colors */

.black { color: #000000; }
.gray { color: #666666; }
.white { color: #FFFFFF; }
.green { color: #008302; }
.red { color: #ed1c24; }


/* Navigation */
/* Based on Son of Suckerfish: http://www.htmldog.com/articles/suckerfish/dropdowns */

#nav ul { /* Begin First Level Lists */
	margin: 0;
	padding: 0;
  line-height: 1;
	list-style: none;
}
#nav ul li { /* All List Items */
	float: left;
	margin: 0;
	padding: 0;
	width: auto; /* width needed or else Opera goes nuts */
}
#nav ul li.separator { } 
#nav ul li a {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#nav ul li a span { display: block; padding: 5px; } /* Putting the nav padding in a span prevents lots of IE problems */

#nav ul li.active a,
#nav ul li.active a:hover,
#nav ul li.sfhover a,
#nav ul li a:hover {
  background-color: #CCCCCC; /* Keeps the top level nav item highlighted on sub levels when used with the jQuery Superfish. */
}

#nav ul li ul { /* Begin Second Level Lists */
	position: absolute;
	background: orange;
	width: 200px;
	margin: 0;
	padding: 0;
	left: -999em;
  z-index: 999;
}
#nav ul li ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
}
#nav ul li ul li a {
	display: block;
	margin: 0;
	padding: 0;
	width: 200px;
}
#nav ul li ul li a:hover { background: gray; }
#nav ul li ul li a span { display: block; padding: 5px; }

#nav ul li.active ul li a,
#nav ul li.sfhover ul li a { background: none; } /* Negated top level highlighting on sub levels */

#nav ul li ul li ul { /* Begin Third Level Lists */
	position: absolute;
	background: orange;
	width: 200px;
	margin: -1em 0 0 200px; /* Adjust -1em to fit the height of a list item */
	padding: 0;
	left: -999em;
  z-index: 999;
}
#nav ul li ul li ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
}
#nav ul li ul li ul a {
	display: block;
	margin: 0;
	padding: 0;
	width: 200px;
}

#nav li:hover { position: static; background-position: 0 0; } /* Fixes IE sticky dropdowns somehow? */
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul { left: -999em; }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { left: auto; }


/* Top Nav */

#top-nav ul { 
	float: left;
	margin: 0;
	padding: 0;
	line-height: 1;
	list-style: none;
}
#top-nav ul li {
	float: left;
	margin: 0 0 0 3px;
	padding: 0 3px 0 0;
}
#top-nav ul li.separator { } 
#top-nav ul li a { text-decoration: none; }
#top-nav ul li a:hover { text-decoration: underline; }
#top-nav ul ul { display: none; }


/* Footer Nav */

#footer ul { 
	float: left;
	margin: 0;
	padding: 0;
	line-height: 1;
	list-style: none;
}
#footer ul li {
	float: left;
	margin: 0 0 0 3px;
	padding: 0 3px 0 0;
}
#footer ul li.separator { } 
#footer ul li a { text-decoration: none; }
#footer ul li a:hover { text-decoration: underline; }
#footer ul ul { display: none; }

#tabs{
	width:530px;
	
}

div#tabs ul li{
	-webkit-border-radius: 4px;
}

.column p {
	padding-right:20px;
}
.column img {
/*	float:left;
	display:block;*/
}

/* Layout */
@media screen and (min-width:200px) {
#wrap {
  margin: 0 auto;
  max-width: 300px; /* Max width for a 1024px resolution is 996px without a horizontal scroll bar */
  text-align: center;
}
#text-reset { text-align: left; }

/* Home */
#home, #c1, #s1 {max-width:300px; padding:30px 0; clear:both;}
.half {
	max-width:300px;
	max-height:800px;
	margin-top:50px 0 20px 0;
}
video {
	width:300px;
}
}
@media screen and (min-width:480px) {
#wrap {
  margin: 0 auto;
  max-width: 600px; /* Max width for a 1024px resolution is 996px without a horizontal scroll bar */
  text-align: center;
}
#text-reset { text-align: left; }

/* Home */
#home, #c1, #s1 {max-width:600px; padding:30px 0; clear:both;}
.half {
	max-width:600px;
	max-height:900px;
	margin:0 0 30px 0;
}
video {
	width:480px;
	height:700px;
}
}
@media screen and (min-width:1024px) {
#wrap {
  margin: 0 auto;
  max-width: 996px; /* Max width for a 1024px resolution is 996px without a horizontal scroll bar */
  text-align: center;
}
#text-reset { text-align: left; }

/* Home */
#home, #c1, #s1 {max-width:996px; padding:30px 0; clear:both;}
.half {
	max-width:500px;
	height:750px;
	margin:0 0 0 50px;
	padding-left:50px;
	border-left:1px solid #ccc;
	float:right;
	position:relative;
	top:-40px;
}
video {
	width:480px;
	height:700px;
}
}
@media screen and (min-width: 1400px) {
#wrap {
  margin: 0 auto;
  max-width: 1230px; /* Max width for a 1024px resolution is 996px without a horizontal scroll bar */
  text-align: center;
}
#text-reset { text-align: left; }

/* Home */
#home, #c1, #s1 {max-width:1230px; padding:50px 0; clear:both; margin:0 auto;}
.half {
	max-width:500px;
	height:750px;
	margin:0 0 0 50px;
	padding-left:50px;
	border-left:1px solid #ccc;
	float:right;
}
.first {
	clear:both;
}
}